.App {
  text-align: center;
  background-color: #76daff;
}
.menuButton{
  margin: 2px;
}
.navButtons{
  width:  "100%";
  padding: "5px";
  margin: "10px";
}
#root{
  
}
.navLink{
  color: "#FFFFFF";
  width: "100%";
}
